html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: hsl(0, 0%, 94%);
}

main {
  background-color: white;
  border-radius: 10px 10px 200px 10px;
  width: 50vw;
  padding: 20px;
  font-family: "Poppins";
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  gap: 0.5rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

input {
  border: 1px solid hsl(0, 0%, 56%);
  border-radius: 5px;
  height: 3rem;
  width: 10vw;
}

input:focus {
  border: 3px solid hsl(259, 100%, 65%);
  border-radius: 5px;
}

button {
  background-color: black;
  padding: 1rem;
  border-radius: 4rem;
  border: none;
}

.DateText {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 40vw;
}

.bigNum {
  font-weight: 800;
  font-style: italic;
  font-size: 4rem;
  color: hsl(259, 100%, 65%);
}

.seperator {
  padding-top: 20px;
  display: flex; /* Use flexbox for layout */
  align-items: center;
}

.seperator img {
  fill: black;
}

.solid {
  width: 100%; /* Optional: Adjust the width of the <hr> */
  margin-right: 10px; /* Optional: Add some space between the <hr> and RefreshButton */
  opacity: 0.3;
}

.refresh {
  background-color: hsl(259, 100%, 65%);
}
.refresh:hover {
  background-color: black;
}
